.profile__avatar-button {
    background-image: url('../../../images/edit-btn.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 26px;
    height: 26px;

    position: absolute;

    opacity: 0;
}

.profile__avatar-button:hover {
    opacity: 1;
}