.popup__container {
    position: relative;
    width: 430px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

@media (max-width: 700px) {
    .popup__container {
        width: 282px;
    }
}

@media (max-width: 414px) {
    .popup__container {
        display: flex;
        flex-direction: column;
    }
}