.button_type_add {
    background-image: url('../../../images/add-btn.svg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 50px;
}

@media (max-width: 700px) {
    .button_type_add {
        background-image: url('../../../images/add-btn-wide.svg');
        width: 282px;
    }
}