.header {
    max-width: 880px;
    height: 74px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-bottom: 1px #545454 solid;
}

@media (max-width: 900px) {
    .header {
        height: 56px;
        margin-bottom: 42px;
    }
}