.profile__add-button {
    background-image: url('../../../images/add-btn.svg');
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 50px;
}

@media (max-width: 750px) {
    .profile__add-button {
        background-image: url('../../../images/add-btn-wide.svg');
        width: 282px;
    }
}