.profile__text {
    display: grid;
    grid-template-areas:
        'name button-edit'
        'profession profession';
    align-items: baseline;
    gap: 16px 18px;
}

@media (max-width: 700px) {
    .profile__text {
        gap: 14px 10px;
    }
}