.profile__avatar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.profile__avatar-container:hover>.profile__avatar-button {
    opacity: 1;
}

.profile__avatar-container:hover>.profile__avatar {
    opacity: 20%;
    cursor: pointer;
}

@media (max-width: 750px) {
    .profile__avatar-container {
        margin-right: 0;
        margin-bottom: 26px;
    }
}