.popup__close-button {
    width: 32px;
    height: 32px;
    background-image: url('../../../images/close-btn.svg');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    top: -40px;
    right: -40px;
}

@media (max-width: 414px) {
    .button_type_close {
        position: unset;
        margin-bottom: 16px;
    }
}