.popup__save-button {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    border-radius: 2px;
    margin: 0;
    padding: 0;

    background-color: black;
    min-height: 50px;
}

@media (max-width: 700px) {
    .popup__save-button {
        min-height: 48px;
    }
}